.navbar {
  background: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* CONTENEDOR LOGO */
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

/* LOGO */
.logo img {
  height: 70px;
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.phone-btn {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.whatsapp {
  background-color: #25D366;
  color: white;
}
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

.navbar {
  padding: 15px 20px;
}

.menu-toggle {
  display: block;
}

.nav-links {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: white;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.nav-links.active {
  display: flex;
}

.phone-btn {
  display: none;
}

}